*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: roboto-regular;
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}
nav{
    font-family: roboto-regular;  
}
.cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    padding: 5px;
}
.navbarItem li{
    border-radius: 5px;
    
}
.navbarItem > ul{
    height: 100px;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    font-family: Roboto-Regular;
    list-style-type: none;

}
.navbarItem ul li a{
    text-decoration:underline;
    color:#4A4848;
    font-size: 19px;
    padding: 20px;
    font-weight:lighter;
}
.acercaDeMi{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    margin-left: 0px;
    padding-left: 50px;
    padding-right: 50px;
}
.acercaDeMi > img{
    height: 425px;
    padding: 30px;
    margin-top: 5px;

}
.acercaDeMi-info{
    color: #4A4848;
    font-family: Roboto-Regular;  
    padding: 30px; 
    font-size: 14px;
    text-align: justify;
    width: 950px; 
    margin-top: 40px; 
}
.accordion{
    font-family: Roboto-Regular;
    margin-top: 40px;
}
.accordion-body{
    background-color:aliceblue;
    text-align: justify;
}
.footer-datos{
    background-color: aliceblue;
    font-family: Roboto-Regular;
    padding: 50px;
}
.footer-legal{
    display: flex;
    flex-direction: column;
    background-color:#BD95B7;
    font-family: Roboto-Regular;
    text-align: end;
    padding: 5px;
}
.footer-legal h5{
    font-size: 13px;
}
.footer-legal h6{
    font-size: 10px;
}
.footer-menu > ul > li > a{
    text-decoration: none;
    list-style-type: none;
    color: #4A4848;
}
.footer-menu > ul > li {
    list-style-type: none;
}
.footer-menu > ul{
    padding-left: 5px;
}
.footer-contacto > a{
    text-decoration: none;
    list-style-type: none;
    color: #4A4848;
    padding-left: 10px;
}
.breadcrumb{
    margin-top: 50px;
    margin-left: 20px;
    color: #4A4848;
    text-decoration: none;
}
.pagination{
    font-family: Roboto-Regular;

}