* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: roboto-regular;
  src: url(../fonts/Roboto/Roboto-Regular.ttf);
}
nav {
  font-family: roboto-regular;
}

.navbarInfo {
  background-color: #BD95B7;
  padding: 8px;
  font-size: small;
}
.navbarInfo .logosNavbar {
  width: 24px;
}

.navbar {
  background-color: #E0B2DA;
  font-weight: bold;
}
.navbar .maguslogo {
  width: 100px;
}
.navbar .dropdown-menu {
  background-color: aliceblue;
}

.navbarItem > li {
  border-radius: 5px;
}
.navbarItem > ul {
  height: 100px;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  font-family: Roboto-Regular;
  list-style-type: none;
}
.navbarItem > ul > li > a {
  text-decoration: underline;
  color: #4A4848;
  font-size: 19px;
  padding: 20px;
  font-weight: lighter;
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  padding: 5px;
}
.cards .card-title {
  font-weight: bold;
}

.footer {
  margin-top: auto;
}
.footer .footer-datos {
  background-color: aliceblue;
  font-family: Roboto-Regular;
  padding: 50px;
}
.footer .footer-datos .rrssIcons-footer {
  width: 24px;
}
.footer .footer-datos .footer-menu > ul {
  padding-left: 5px;
}
.footer .footer-datos .footer-menu > ul > li {
  list-style-type: none;
  font-size: 14px;
}
.footer .footer-datos .footer-menu > ul > li > a {
  text-decoration: none;
  list-style-type: none;
  color: #4A4848;
}
.footer .footer-datos .footer-contacto .logoWhatsappFooter {
  width: 24px;
}
.footer .footer-datos .footer-contacto > a {
  text-decoration: none;
  list-style-type: none;
  color: #4A4848;
  padding-left: 10px;
}
.footer .footer-legal {
  display: flex;
  flex-direction: column;
  background-color: #BD95B7;
  font-family: Roboto-Regular;
  text-align: end;
  padding: 5px;
}
.footer .footer-legal h5 {
  font-size: 13px;
}
.footer .footer-legal h6 {
  font-size: 10px;
}

.accordion {
  font-family: Roboto-Regular;
  margin-top: 40px;
}
.accordion .accordion-body {
  background-color: aliceblue;
  text-align: justify;
}

.acercaDeMi {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 0px;
  padding-left: 120px;
  padding-right: 120px;
  padding-top: 60px;
  min-height: calc(100vh - 300px);
}
.acercaDeMi > img {
  height: 425px;
  padding: 30px;
  margin-top: 5px;
}
.acercaDeMi .acercaDeMi-info {
  color: #4A4848;
  font-family: Roboto-Regular;
  padding: 30px;
  font-size: 14px;
  text-align: justify;
  width: 950px;
  margin-top: 40px;
}

.pagination {
  font-family: Roboto-Regular;
}

.navFiltro a {
  font-family: Roboto-Regular;
  color: #4A4848;
}
.navFiltro .breadcrumb {
  color: #4A4848;
  text-decoration: none;
}
.navFiltro .filtroProducto {
  font-family: Roboto-Regular;
  color: #4A4848;
  padding: 2px;
  border-radius: 5px;
  background-color: aliceblue;
}

.coleccionescards {
  font-family: Roboto-Regular;
  min-height: calc(100vh - 300px);
}
.coleccionescards a {
  list-style-type: none;
  color: #4A4848;
}
.coleccionescards .colecciones {
  margin-top: 100px;
}

.contacto {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 165px;
  padding: 50px;
}
.contacto .textContacto {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 40px;
}
.contacto .logoWhatsappContacto {
  width: 56px;
}
.contacto .numeroTelefono {
  text-decoration: none;
  color: #4A4848;
  font-size: 20px;
}

.formulario {
  color: #4A4848;
  font-family: Roboto-Regular;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  border-color: #4A4848;
}
.formulario .form-group {
  padding: 25px;
}
.formulario .form-group .form-textarea {
  width: 360px;
  border-radius: 10px;
  padding: 5px;
  border-color: #4A4848;
  border: solid;
  background-color: aliceblue;
}
.formulario .form-group .form-input {
  width: 360px;
  height: 45px;
  border-radius: 10px;
  padding: 5px;
  border-color: #4A4848;
  border: solid;
  background-color: aliceblue;
}
.formulario .form-buttongroup {
  padding: 25px;
}
.formulario .form-buttongroup .form-button {
  width: 360px;
  height: 45px;
  border-radius: 25px;
  background-color: #E0B2DA;
  font-weight: bold;
  font-size: 16px;
}