.cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    padding: 5px;
    .card-title{
        font-weight: bold;
    }
}