.coleccionescards{
    font-family: Roboto-Regular;
    min-height: calc(100vh - 300px);
    a{
        list-style-type: none;
        color: $colorletra;
    }
    .colecciones{
        margin-top: 100px;
    }
}
