nav{
    font-family: roboto-regular;  
}
.navbarInfo{
    background-color: $rosadooscuro;
    padding: 8px;
    font-size: small;
    .logosNavbar{
        width: 24px;
    }
}
.navbar{
    background-color: $rosadoclaro;
    font-weight: bold;
    .maguslogo{
        width: 100px;
    }
    .dropdown-menu{
        background-color: $fondoclaro;
    }
}
.navbarItem{
    > li{
        border-radius: 5px;
    }
    > ul{
        height: 100px;
        padding: 5px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        font-family: Roboto-Regular;
        list-style-type: none;
    }
    > ul > li > a{
        text-decoration:underline;
        color: $colorletra;
        font-size: 19px;
        padding: 20px;
        font-weight:lighter;
    }
}