*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: roboto-regular;
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}
@import "navegador";
@import "footer";
@import "acercademi";
@import "navproductos";
@import "colecciones";
@import "formulario";
$rosado-oscuro : #BD95B7;
$colorletra : #4A4848;
$rosado-claro : #E0B2DA;
$fondo-claro : aliceblue;


